.nav {
  background-color: $blue;
  color: white;

  ul {
    width: 1000px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;

    li {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }

      span {
        display: inline-block;
        padding: 20px 0;
      }

      a {
        display: inline-block;
        padding: 20px 0;
        color: white;
        text-decoration: none;

        &:hover,
        &.active {
          padding-bottom: 15px;
          border-bottom: 5px solid white;
        }
      }
    }
  }
}
