.nav {
  background-color: $blue;
  color: white;

  ul {
    width: 1075px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;

    li {
      margin-left: 70px;

      &:first-child {
        margin-left: 0;
      }

      .title {
        font-size: 21px;
        padding: 24px 0;
      }

      svg,
      path {
        display: inline-block;
        fill: white;
        padding: 24px 0;
      }

      a,
      span {
        display: inline-block;
        padding: 26px 0;
        font-weight: bold;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover,
        &.active {
          padding-bottom: 22px;
          border-bottom: 6px solid white;

          &.title {
            padding-bottom: 18px;
          }
        }
      }

      .icon-button {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        svg {
          margin-right: 10px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
