.page {
  width: 640px;
  margin: 100px auto;
  padding: 0 50px 100px;

  .title0 {
    font-size: 72px;
    font-weight: normal;
    color: $blue;
    line-height: 88px;
  }

  .title1 {
    font-size: 52px;
    font-weight: normal;
    color: $black;
  }

  .title2 {
    font-size: 34px;
    font-weight: normal;
    color: $black;
  }

  .title3 {
    font-size: 28px;
    font-weight: normal;
    color: $black;
    line-height: 32px;
  }

  .title4 {
    margin: 35px 0 10px;
    font-size: 14px;
    color: $dark-grey;
    line-height: 20px;
  }

  .title0,
  .title1,
  .title2,
  .title3,
  .title4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-left: 20px;

      polyline {
        fill: none;
        stroke: $black;
      }
    }

    &__capped {
      margin: 0;
    }

    &__button {
      cursor: pointer;
    }

    &__small {
      font-size: 14px;
      font-weight: bold;
      color: $blue;
    }
  }

  .hero {
    text-align: center;
    margin-bottom: 140px;

    svg {
      position: relative;
      left: -450px;
      top: 60px;
      height: 140px;
      margin-bottom: -140px;

      path {
        fill: $blue;
      }
    }

    p {
      font-size: 34px;
      color: $black;
      line-height: 46px;
    }

    .button {
      margin-top: 50px;
    }
  }

  .statement {
    margin-top: 115px;
  }

  .section {
    margin-top: 100px;

    .title2 {
      margin-top: 0;
    }
  }

  .group {
    border-bottom: 2px solid $blue;
    padding: 15px 0;
    margin: 0;

    &:first-of-type {
      border-top: 2px solid $blue;
    }
  }

  p {
    margin: 15px 0;
    line-height: 24px;

    &.capped-bottom {
      margin-bottom: 0;
    }

    a {
      color: $black;
      text-decoration: none;

      svg {
        margin-right: 3px;
      }

      &:hover {
        color: $blue;

        svg path {
          fill: $blue;
        }
      }
    }

    &.large {
      font-size: 21px;
      line-height: 30px;
    }

    &.bold {
      font-weight: bold;
    }
  }

  .question {
    margin: 75px 0;
  }

  .input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #c2c2c2;
    border-radius: 10px;
    font-size: 21px;
    color: $black;

    &:focus {
      border-color: $blue;
      outline: none;
    }

    &::placeholder {
      color: $light-grey;
    }
  }

  .controls {
    margin-top: 30px;
  }

  .radio,
  .checkbox {
    display: inline-block;
    padding: 10px 30px;
    margin: 5px 0;
    border: 2px solid $light-grey;
    border-radius: 26px;
    pointer-events: all;
    font-size: 21px;
    cursor: pointer;

    &.checked {
      background: $blue;
      border: 2px solid $blue;
      border-radius: 26px;
      color: white;
    }
  }

  .button {
    display: inline-block;
    padding: 20px 50px;
    border: 2px solid $light-grey;
    border-radius: 10px;
    font-size: 21px;
    color: $black;
    cursor: pointer;
    text-decoration: none;

    &__primary {
      background: $blue;
      border-color: $blue;
      color: white;
    }
  }

  .buttons {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
  }

  .sidebar {
    padding: 0 0;
    list-style: none;
    line-height: 37px;
    margin-bottom: 50px;

    @media all and (min-width: 1075px) {
      position: sticky;
      height: 0;
      top: 25px;
      width: 200px;
      margin: 25px 0 0 -200px;
    }

    a {
      font-weight: bold;
      color: $black;
      text-decoration: none;

      &.active {
        color: $blue;
      }
    }
  }
}
