{{page-title "EU Publication Wizard"}}

<nav class="nav">
  <ul>
    <li>
      <LinkTo @route="index" class="title">
        The Data Wizard
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="questions">
        Questions
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="recommendations">
        Recommendations for you
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="catalog">
        Recommendations Catalog
      </LinkTo>
    </li>

    <li>
      <div class="icon-button" role="button" {{on "click" this.print}}>
        <Icons::Print />
      </div>
    </li>

    <li>
      <div class="icon-button" role="button" {{on "click" this.share}}>
        <Icons::Link />
      </div>
    </li>
  </ul>
</nav>

{{outlet}}