{{page-title "EU Publication Wizard"}}

<nav class="nav">
  <ul>
    <li>
      <LinkTo @route="index" class="title">
        The Data Wizard
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="questions">
        Questions
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="recommendations">
        Recommendations for you
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="catalog">
        Recommendations Catalog
      </LinkTo>
    </li>

    <li>
      <Icons::Print />
    </li>

    <li>
      <Icons::Link />
    </li>
  </ul>
</nav>

<div class="page">
  {{outlet}}
</div>