{{page-title "Publication Wizard"}}

<nav class="nav">
  <ul>
    <li>
      <LinkTo @route="index" class="title">
        Publication Wizard
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="questions">
        Questions
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="recommendations">
        Recommendations
      </LinkTo>
    </li>

    <li>
      <LinkTo @route="catalog">
        Catalogue
      </LinkTo>
    </li>

    <li>
      <div class="icon-button" role="button" {{on "click" this.print}}>
        <Icons::Print />
        <span>Print Page</span>
      </div>
    </li>

    <li>
      <div class="icon-button" role="button" {{on "click" this.share}}>
        <Icons::Link />
        <span>Share Page</span>
      </div>
    </li>
  </ul>
</nav>

{{outlet}}