<div class="page">
  <div class="hero">
    <Graphics::Wizard />

    <h1 class="title0">
      <span>Welcome to the EU Publication Wizard!</span>
    </h1>

    <p>
      This wizard helps you create more user-friendly, modern publications. Answer some simple questions and receive
      recommendations for your publication.
    </p>

    <LinkTo @route="questions" class="button button__primary">
      Start the Wizard
    </LinkTo>
  </div>

  <div class="statement">
    <h2 class="title1">
      What is the Publication Wizard for?
    </h2>

    <p class="large">
      The Wizard provides you with recommendations on how to create a user-friendly publication in terms of overall
      design, text, data, and data visualisation. It also helps you with the process of publishing both the publication
      itself and the data used in the publication.
    </p>
  </div>

  <div class="statement">
    <h2 class="title1">
      Who is the Publication Wizard for?
    </h2>

    <p class="large">
      The Wizard is relevant to anyone who is involved in the publication process –Scientists, Policy Makers,
      Communications Officers, and Designer.
    </p>

    <p class="large">
      The publication can be any type of published content. This includes press releases, leaflets, brochures,
      assessments, briefs and summaries, reports, studies and books both in print and online.
    </p>
  </div>

  <div class="statement">
    <h2 class="title1">
      Who is behind the Wizard?
    </h2>

    <p class="large">
      The Publication Wizard was created by the Publications Office of the European Union. This is a beta version of the
      wizard. We would love to hear your feedback via email xxxx@europa.eu.
    </p>
  </div>
</div>